body {
    color: #797979 !important;
    background: #f1f2f7 !important;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 13px !important;
}

.margin {
	margin: 8px !important;
}

.profile-nav .user-heading {
    background: #5F9EA0;
    color: #fff;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    padding: 30px;
    text-align: center;
}

.profile-nav .user-heading.round a  {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 10px solid rgba(255,255,255,0.3);
    display: inline-block;
}

.profile-nav .user-heading a img {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.profile-nav .user-heading h1 {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 5px;
}

.profile-nav .user-heading p {
    font-size: 12px;
}

.user-tabs {
  background-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-left: 0;
  margin-right: 0px;
}

.user-tabs .nav.nav-tabs a {
  text-transform: uppercase;
}

.tabs {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0px;
  position: relative;
  white-space: nowrap;
  width: 100%;
}

.tabs li.tab {
  background-color: #ffffff;
  display: block;
  float: left;
  margin: 0;
  text-align: center;
}

.tabs li.tab a {
  -moz-transition: color 0.28s ease;
  -ms-transition: color 0.28s ease;
  -o-transition: color 0.28s ease;
  -webkit-transition: color 0.28s ease;
  color: #ee6e73;
  display: block;
  height: 100%;
  text-decoration: none;
  transition: color 0.28s ease;
  width: 100%;
}

.tabs li.tab a.active {
  color: #6e8cd7 !important;
}

.nav.nav-tabs + .tab-content {
  background: #ffffff;
  margin-bottom: 30px;
  padding: 30px;
}

.nav.nav-tabs > li.active > a {
  background-color: #ffffff;
  border: 0;
}

.nav.nav-tabs > li > a {
  background-color: transparent;
  border-radius: 0;
  border: none;
  color: #333333 !important;
  cursor: pointer;
  line-height: 50px;
  font-weight: 700;
}

.nav.nav-tabs > li > a:hover {
  color: #6e8cd7 !important;
}

.nav.nav-tabs > li:last-of-type a {
  margin-right: 0px;
}

.nav.nav-tabs {
  border-bottom: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #6e8cd7 !important;
}

.tab-content {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  color: #777777;
  background: #ffffff;
  display: table-cell;
  margin-bottom: 30px;
  padding: 30px;
  vertical-align: top;
}

.profile-tab-content {
  background-color: transparent !important;
  box-shadow: none !important;
  margin-top: 35px;
}

.panel {
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  border: none;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.panel .panel-body {
  padding: 20px;
}

.panel .panel-body p {
  margin: 0px;
}

.panel .panel-body p + p {
  margin-top: 15px;
}

.panel-heading {
  border-radius: 0;
  border: none !important;
  padding: 10px 20px;
}

.panel-default > .panel-heading {
  background-color: #fafafa;
  border-bottom: none;
  color: #797979;
}

.panel-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.panel-fill {
  border-radius: 3px;
}

.panel-fill .panel-heading {
  background-color: transparent;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
}

.panel-fill .panel-body {
  color: rgba(255, 255, 255, 0.85);
}

.panel-fill.panel-default .panel-body {
  color: #666;
}

.panel-fill.panel-default .panel-heading {
  background-color: transparent;
  color: #333333;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}
